<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>xml file test1</title>
<link rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<script src="/js/jquery-3.5.1.js" th:src="@{/js/jquery-3.5.1.js}"></script>
<script src="/js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>

<script>
	$(document).ready(function() {
		/* 버튼 클릭이 발생했을 때 xml 부분 파싱해오기 */
		$("#btnLoad").on("click", function() {
			$.ajax({
				url: "/file/xmlFile2",
				type: "POST",
				success: function(data) {
					for (var i = 0; i < data.length; i++) {
						var result = "<tr>";
						result += "<td>" + data[i].no + "</td>";
						result += "<td>" + data[i].id + "</td>";
						result += "<td>" + data[i].name + "</td>";
						result += "<td>" + data[i].job + "</td>";
						result += "<td>" + data[i].gender + "</td>";
						result += "</tr>";
						$("#ajaxTable tbody").append(result);
					}
				},
				error: function() {
					alert("ajax 통신에 오류가 발생했습니다.");
				}
			});
		});
	});
</script>

</head>
<body>
	<header class="container">
		<div class="jumbotron">
			<h1>xml 파일 파싱 테스트</h1>
		</div>
	</header>
	<main class="container">
		<section class="row">
			<div class="col-sm-6 mx-auto">
				<article>
					<h3>xml 데이터 파싱하기</h3>
					<table class="table table-hover table-striped">
						<thead>
							<tr>
								<th>순번</th>
								<th>ID</th>
								<th>이름</th>
								<th>직업</th>
								<th>성별</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(xmlDatas)} > 0" th:each="list : ${xmlDatas}">
								<td th:text="${list.no}"></td>
								<td th:text="${list.id}"></td>
								<td th:text="${list.name}"></td>
								<td th:text="${list.job}"></td>
								<td th:text="${list.gender}"></td>
							</tr>
							<tr th:unless="${#lists.size(xmlDatas)} > 0">
								<td colspan="5" th:text="'데이터가 없습니다.'">
							</tr>
						</tbody>
					</table>
				</article>
				
				<br><hr><br>
				
				<article>
					<h3>ajax를 통해서 데이터 가지고 오기</h3>
					<table class="table table-hover table-striped" id="ajaxTable">
						<thead>
							<tr>
								<th>순번</th>
								<th>ID</th>
								<th>이름</th>
								<th>직업</th>
								<th>성별</th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
					<button class="btn btn-primary btn-block" id="btnLoad">데이터 불러오기</button>
				</article>
			</div>
		</section>
	</main>
</body>
</html>
